<table class="table">
    <thead>
    <th>Exercise</th>
    <th>Description</th>
    <th>Set</th>
    <th>Reps/time</th>
    <th>
        <form class="form-group">
            <input type="hidden" name="scheduleId" value="5b97a214543b02176c3a6205">
            <button class="btn btn-default float-right" (click)="deleteSchedule()">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
    </th>
    </thead>
    <tbody>
    <tr>
        <td><!--Exercise--></td>
        <td><!--Description--></td>
        <td><!--Set--></td>
        <td><!--Reps--></td>
        <td>
            <form class="form-group">
                <input type="hidden" name="scheduleId" value=""><!---->
                <input type="hidden" name="exerciseId" value=""><!---->
                <button class="btn btn-default float-right" (click)="deleteScheduleExercise()">
                    <i class="fas fa-times"></i>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>