
      <!-- <form id="myForm">
        <label for="uname"><b>Username</b></label><br>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
   
        <label for="psw"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="psw" required>
      </form> 


    <form class="myForm">
        <button (click)="sendLoginInfo()" type='button'>Login</button>
    </form>
     -->

    <form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" ngModel>
      
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ngModel>
      
        <button type="submit">Register</button>
      </form>

      <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" ngModel>
        
          <label for="password">Password</label>
          <input type="password" name="password" id="password" ngModel>
        
          <button type="submit">login</button>
        </form>