

    <form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
        <label for="email">Username</label>
        <input type="text" name="registerUserName" id="registerUserName" ngModel>
      
        <label for="password">Password</label>
        <input type="password" name="registerPassword" id="registerPassword" ngModel>
      
        <button type="submit">Register</button>
      </form>

      <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
          <label for="email">Username</label>
          <input type="text" name="loginUserName" id="loginUserName" ngModel>
        
          <label for="password">Password</label>
          <input type="password" name="loginPassword" id="loginPassword" ngModel>
        
          <button type="submit">login</button>
    </form>

    <button (click)="logout()" type='button'>Logout</button>