<form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" type="text" name="registerUserName" id="registerUserName" placeholder="username"
                   ngModel>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="password" name="registerPassword" id="registerPassword"
                   placeholder="password"
                   ngModel>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default" type="submit">Register</button>
        </div>
    </div>
</form>
<br/>
<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" type="text" name="loginUserName" id="loginUserName" placeholder="username"
                   ngModel>
        </div>
        <div class="col-md-4">
            <input class="form-control" type="password" name="loginPassword" id="loginPassword" placeholder="password"
                   ngModel>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default" type="submit">login</button>
        </div>
    </div>
</form>

<button (click)="logout()" type='button'>Logout</button>