<div class="row">
    <div class="col-md-7">
        <div class="col-md-12" *ngFor="let schedule of schedules">
            <form class="form-group" #signupForm="ngForm" (ngSubmit)="postExercise(signupForm, schedule)">
                <table class="table" id="schedule">
                    <thead class="table-active">
                    <th>Exercise</th>
                    <th>Description</th>
                    <th>Set</th>
                    <th>Reps/time</th>
                    <th></th>
                    <th class="buttonColumn">
                        <form class="form-group">
                            <input type="hidden" name="scheduleId" value="5b97a214543b02176c3a6205">
                            <button class="btn btn-default float-right" (click)="deleteSchedule(schedule)"
                                    type='button'>
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let exercise of schedule.exercises">
                        <td>{{exercise.exerciseName}}</td>
                        <td>{{exercise.description}}</td>
                        <td>{{exercise.set}}</td>
                        <td>{{exercise.reps}}</td>
                        <td>
                            <button class="btn btn-default float-right"
                                    (click)="logExercise(exercise)" type='button'>
                                <i class="fas fa-dumbbell"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-default float-right"
                                    (click)="deleteExercise(schedule, exercise)" type='button'>
                                <i class="fas fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" name="exerciseName" type="text" placeholder="Exercise" required
                                   ngModel>
                        </td>
                        <td>
                            <input class="form-control" name="description" type="text" placeholder="Description"
                                   required
                                   ngModel>
                        </td>
                        <td>
                            <input class="form-control" name="set" type="number" value="0" title="set" ngModel>
                        </td>
                        <td>
                            <input class="form-control" name="reps" type="number" value="0" title="reps" ngModel>
                        </td>
                        <td></td>
                        <td>
                            <button class="btn btn-default" type='submit'>
                                <i class="fas fa-plus"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <button class="add-schedule-button" (click)="postSchedule()" type='button'>Create a new schedule</button>
    </div>
    <div class="col-md-5">
        <table class="table">
            <thead class="table-active">
            <th>Time</th>
            <th>Exercise</th>
            </thead>
            <tbody>
            <tr *ngFor="let exerciseLog of exerciseLogs">
                <td>{{exerciseLog.dateTime | date:'yyyy-MM-dd HH:mm'}}</td>
                <td>{{exerciseLog.exercise.exerciseName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>