<!--The content below is only a placeholder and can be replaced.-->

<div class="content">
    <router-outlet></router-outlet>

    <h1>Welcome to {{ title }}</h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <th>Exercise</th>
                    <th>Description</th>
                    <th>Set</th>
                    <th>Reps/time</th>
                    <th>
                        <form class="form-group" action="/deleteSchedule" method="POST"><input type="hidden"
                                                                                               name="scheduleId"
                                                                                               value="5b97a214543b02176c3a6205">
                            <button class="btn btn-default float-right" type="submit"><i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </th>
                </thead>
                <tbody>
                <tr>
                    <td><!--Exercise--></td>
                    <td><!--Description--></td>
                    <td><!--Set--></td>
                    <td><!--Reps--></td>
                    <td>
                        <form class="form-group" action="/deleteScheduleExercise" method="POST">
                            <input type="hidden" name="scheduleId" value=""><!---->
                            <input type="hidden" name="exerciseId" value=""><!---->
                            <button class="btn btn-default float-right">
                                <i class="fas fa-times"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <form class="form-group" action="/postScheduleItem" method="POST">
                <input type="hidden" name="scheduleId" value=""><!---->
                <table class="table table-borderless">
                    <tr>
                        <td><input class="form-control" name="exerciseName" type="text" placeholder="Exercise" required>
                        </td>
                        <td><input class="form-control" name="description" type="text" placeholder="Description"
                                   required>
                        </td>
                        <td><input class="form-control" name="set" type="number" value="0"></td>
                        <td><input class="form-control" name="reps" type="number" value="0"></td>
                        <td>
                            <button class="btn btn-default" type="submit"><i class="fas fa-plus"></i></button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-group" action="/postSchedule" method="POST">
                <button class="add-schedule-button" type="submit">Create a new schedule</button>
            </form>
        </div>
    </div>
</div>

